* {
   /*  border: 1px salmon solid; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.our-service__description-mobile,
.footer__menu-mobile,
.our-team__panel,
.projects__example-mobile {
    display: none;
}
html {
    overflow-x: hidden;
}
body {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}
.header {
    height: 800px;
    width: 100%;
    background: transparent url('/desktop/img/image1.png');
}
.header__container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
.header__block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding-top: 23px;
}
.header__left-block{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 443px;
    width: 100%;
}
.header__search {
    display: flex;
    width: 150px;
    justify-content: flex-start;
    align-items: center;
}
.header__glass {
    margin-right: 30px;
}
.header__item {
    text-align: left;
    font: normal normal 600 16px/22px Open Sans;
    color: #333333;
    text-decoration: none;
}
.header__item:hover {
    text-decoration: underline;
}
.header__right-block {
    display: flex;
    margin-left: 70px;
}
.header__info {
    display: flex;
    align-items: center;
    width: 241px;
    justify-content: space-between;
}
.header__menu {
    margin-left: 80px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.header__article {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 737px;
    margin: 10.2% auto 0px 30.3%;
    height: 290px;
    justify-content: space-between;
}
.header__title {
    width: 100%;
    height: 183px;
    text-align: left;
    font: normal normal 800 72px/85px Open Sans;
    letter-spacing: 0.65px;
    color: #333333;
    opacity: 1;
}
.header__title--yellow {
    color: #FF9C41;
    opacity: 1;   
}
.header__paragraph {
    width: 439px;
    height: 70px; 
    text-align: left;
    font: normal normal 600 16px/24px Open Sans;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
}
.header__button {
    margin: 121px 0 0 485px;
    opacity: 1;
    width: 230px;
    height: 55px;
    transition: 0.2s;
    background-color: #FF9C41;
    border: transparent;
    border-radius: 37px;
    color: #FFFFFF;
    font: normal normal bold 16px/24px Open Sans;
    cursor: pointer;
}
.header__button:hover {
    background-color:#333333;
}
.header__button:active {
    border: 1px solid #333333;
    background: transparent;
    color: #333333;
}
.header__links {
    margin: -35px 0 0 215px;
    display: flex;
    width: 101px;
    justify-content: space-between;
}
.header__facebook {
    background: transparent url('/desktop/header/facebook-logo.png');
    height: 15px;
    width: 8px;
}
.header__twitter {
    height: 15px;
    width: 18px;
    background: transparent url('/desktop/header/twitter-logo-silhouette.png');
    opacity: 1;
}
.header__instagram {
    height: 15px;
    width: 15px;
    background: transparent url('/desktop/header/instagram_black.png');
}
.header__facebook:hover {
    cursor: pointer;
    background: transparent url('/desktop/header/facebook-logo_hover.png');
    opacity: 1;
}
.header__twitter:hover {
    cursor: pointer;
    background: transparent url('/desktop/header/twitter-logo-silhouette_hover.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.header__instagram:hover {
    cursor: pointer;
    background: transparent url('/desktop/header/instagram_hover.png');
}
.our-service {
    background: transparent url('/desktop/img/image\ 2.png');
    height: 805px;
    width: 100%;
}
.our-service__container {
    width: 100%;
    padding-top: 158px;
    max-width: 992px;
    margin-left:  215px;  
}
.our-service__title{
    display: flex;
    width: 462px;
    height: 141px;
    text-align: left;
    font: normal normal 800 70px/40px Open Sans;
    letter-spacing: 0.7px;
    color: #FFFFFF;
    opacity: 1;
}
.our-service__info {
    display: flex;
    justify-content: space-between;
}
.our-service__block {
    height: 359px;
    width: 238px;
    text-align: left;
    font: normal normal normal 16px/24px Open Sans;
    letter-spacing: 0.16px;
    color: #FFFFFF;
    opacity: 1;
}
.our-service__subtitle {
    height: 86px;
    margin-bottom: 26px;
    text-align: left;
    font: normal normal 800 34px/40px Open Sans;
    letter-spacing: 0.34px;
    color: #FFFFFF;
    opacity: 1; 
}
.our-service__description {
    height: 168px;
    margin-bottom: 49px;
}
.our-service__button {
    background: transparent;
    text-align: left;
    transition: 0.2s;
    text-decoration: underline;
    font: normal normal bold 20px/24px Open Sans;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    opacity: 1;
    border: transparent;
    cursor: pointer;
}
.our-service__button:hover {
    color: #FF9C41; 
}
.article {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 100%;
}
.article__container {
    height: 483px;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.article__block {
    height: 103px;
    width: 1078px;
    display: flex;
    margin-right: 91px;
    justify-content: space-between; 
}
.article__text {
    width: 520px;
    font: normal normal 800 24px/35px Open Sans;
    letter-spacing: 0.24px;
    color: #333333;
    opacity: 1;  
}
.article__text-2 {
    width: 478px;
    font: normal normal normal 18px/26px Open Sans;
    letter-spacing: 0.18px;
    color: #676767;
    opacity: 1;    
}
.exposition {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 100%;
}
.exposition__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1309px;
    height: 862px;
}
.exposition__frame {
    height: 683px;
    width: 785px;
    margin-right: 20px;
    background:fixed url('./video/play.png');
}
.exposition__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.exposition__block {
    display: flex;
    height: 684px;
    flex-direction: column;
    justify-content: space-between;
}
.exposition__subtitle {
    margin-bottom: 16px;
    text-align: left;
    font: normal normal 800 24px/35px Open Sans;
    letter-spacing: 0.24px;
    color: #333333;
    opacity: 1;
}
.exposition__article {
    width: 393px;
    text-align: left;
    font: normal normal normal 16px/26px Open Sans;
    letter-spacing: 0.16px;
    color: #676767;
    opacity: 1;
}
.single-family {
    opacity: 1;
    width: 100%;
}
.single-family__background {
    position: absolute;
    object-fit: cover;
    background: no-repeat;
    height: 100%;
    width: 100%;
    max-width: 1600px;
}
.single-family__container {
    display: flex;
    width: 100%;
    height: 805px;
    background: transparent url('/desktop/img/image3.png') 0% 0% no-repeat;
    background-size: cover;
  
}
.single-family__block-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 785px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 0.7;
}
.single-family__unit {
    width: 100%;
    max-width: 354px;
    height: 402px;
    color: #333333;
}
.single-family__title {
    font: normal normal 800 45px/40px Open Sans;
    letter-spacing: 0.45px;  
}
.single-family__subtitle {
    margin: 89px 0 24px 0;
    height: 33px;
    font: normal normal 800 24px/33px Open Sans;
    letter-spacing: 0.24px;
}
.single-family__text {
    font: normal normal 600 16px/24px Open Sans;
    letter-spacing: 0.16px;
}
.single-family__button {
    cursor: pointer;
    transition: 0.2s;
    border-radius: 37px;
    border: 2px solid #FF9C41;
    font: normal normal bold 16px/24px Open Sans;
    color: #FF9C41 ;
    background: transparent;
    height: 55px;
    width: 230px;
    margin-top: 89px;
}
.single-family__button:hover {
    background: #FF9C411A;
}
.single-family__block-2 {
    display: flex;
    height: 100%;
    width: 815px;  
}
.single-family__strip {
    height: 161px;
    margin-left: -2px;
    position: absolute;
    border-right: 2px solid #333333;
}
.single-family__circle {
    width: 60px;
    height: 60px;
    background: #FFFFFF;
    align-self: end;
    margin: 0px -30px 39px;
    border-radius: 30px;
    font-size: 30px;
    color: #333333;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: 4px;
    position: absolute;
}
.our-team {
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}
.our-team__container {
    width: 100%;
    height: 1361px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}
.our-team__title {
    margin: 152px 0 48px 13.46%;
    height: 61px;
    width: 224px;
    font: normal normal 800 45px/40px Open Sans;
    letter-spacing: 0.45px;
    color: #333333;
}
.our-team__description {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1078px;
    height: 76px;
    margin-left: 13.5%;
}
.our-team__article {
    text-align: left;
    font: normal normal 800 24px/35px Open Sans;
    letter-spacing: 0.24px;
    color: #333333;
    width: 520px;
    height: 68px;
}
.our-team__article-2 {
    width: 478px;
    height: 76px;
    text-align: left;
    font: normal normal normal 18px/26px Open Sans;
    letter-spacing: 0.18px;
    color: #676767;
}
.our-team__grid {
    padding-left: 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 91.5px auto 50px;
    max-width: 1171px;
    width: 100%;
    height: 1025px;
}
.our-team__frame {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 370px;
    width: 100%;
    height: 448px;
}
.our-team__audio {
    align-self: flex-end;
    position: absolute;
    max-width: 370px;
    width: 100%;
    opacity: 0.8;
}
.our-team__name {
    text-align: left;
    font: normal normal 800 24px/31px Open Sans;
    letter-spacing: 0.24px;
    color: #333333;
    opacity: 1;
    width: 370px;
}
.our-team__position {
    width: 370px;
    text-align: left;
    font: normal normal normal 16px/35px Open Sans;
    letter-spacing: 0.16px;
    color: #333333;
    opacity: 1; 
}
.form {
    width: 100%;
    background: transparent url('/desktop/img/image\ 4.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.form__container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
    width: 100%;
    height: 535px;
}
.form__block {
    height: 239px;
    width: 509px;
}
.form__title {
    text-align: left;
    font: normal normal 800 45px/40px Open Sans;
    letter-spacing: 0.45px;
    color: #FFFFFF;
    opacity: 1;
    margin-bottom: 90px;
}
.form__input {
    width: 500px;
    height: 44px;
    font: normal normal normal 18px/24px Open Sans;
    letter-spacing: 0px;
    background: transparent;
    border: transparent;
    border-bottom: 2px solid #FFFFFF;
}
.form__input::-webkit-input-placeholder {
    color: #FFFFFF;
}
 .form__button {
    margin-top: 55px;
    align-self: center;
    transition: 0.2s;
    cursor: pointer;
    border-radius: 37px;
    border: transparent;
    font: normal normal bold 16px/24px Open Sans;
    color: #FF9C41 ;
    background: #FFFFFF;;
    height: 55px;
    width: 230px;
}
.form__button:hover {
    background: #FF9C411A;
}
.projects {
    width: 100%;
}
.projects__container {
    width: 100%;
    height: 1045px;
    background: #FFFFFF;
    opacity: 1;
    border-bottom: #333333 1px solid;
}
.projects__title {
    margin: 162px 0 78px 215px;
    width: 295px;
    height: 61px;
    text-align: left;
    font: normal normal 800 45px/40px Open Sans;
    letter-spacing: 0.45px;
    color: #333333;
    opacity: 1;
}
.projects__example {
    display: flex;
    background: #272727;
    float: right;
    height: 744px;
    width: 1385px;
}
.projects__img:hover {
    background-image: url('/desktop/projects/project.png');
    opacity: 0.6;
    cursor: pointer; 
}
footer {
    width: 100%;
    height: 312px;
    padding-top: 49px;
}
.footer__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}
.footer__menu {
    display: flex;
    justify-content: space-between;
    width: 725px;
}
.footer__unit {
    width: 100px;
}
.footer__unit--margin-left {
    margin-left: 16px;
}
.footer__unit--padding-left {
    padding-left: 16px;
}
.footer__column {
    display: flex;
    flex-direction: column;
    width: 87px;
}
.footer__link {
    text-decoration: none;
    margin-bottom: 13px;
}
h1 {
    text-align: left;
    font: normal normal 800 16px/24px Open Sans;
    letter-spacing: 0.16px;
    color: #333333;
    opacity: 1;
}
.footer__list {
    list-style-type: none;
    text-align: left;
    font: normal normal normal 14px/24px Open Sans;
    letter-spacing: 0.14px;
    color: #333333;
    opacity: 1;
}
li {
    margin-bottom: 10px;
}
.footer__social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 196px;
}
.footer__links {
    display: flex;
    justify-content: space-between;
    width: 101px;
    height: 15px;
}
.footer__rights {
    text-align: left;
    font: normal normal normal 14px/24px Open Sans;
    letter-spacing: 0.14px;
    color: #333333;
}
.footer__logo {
    margin-bottom: 13px;
    width: 35px;
    height: 35px;
}