* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

.header {
    height: 800px;
    width: 100%;
    background: transparent url('./img/image\ 1.png');

}
.main-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding-top: 23px;
    
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.glass {
    margin-right: 30px;
}

.block-left {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 443px;
    
}
.sub-block-left {
    display: flex;
    width: 150px;
    justify-content: flex-start;
    align-items: center;
}
.search {
    width: 52px;
    height: 22px;
    text-align: left;
    font: normal normal 600 16px/22px Open Sans;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
}
.search:hover {
    cursor: pointer;
    text-decoration: underline;
}
.sub-block-right-left {
    display: flex;
    align-items: center;
    width: 241px;
    justify-content: space-between;
}
.blog {
    width: 34px;
    height: 22px;
    text-align: left;
    font: normal normal 600 16px/22px Open Sans;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
    cursor: pointer;

}
.blog:hover {
    text-decoration-line: underline;
 
}
.about {
    width: 47px;
    height: 22px;
    text-align: left;
    font: normal normal 600 16px/22px Open Sans;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
}
.about:hover {
    cursor: pointer;
    text-decoration: underline;
}
.contact {
    width: 60px;
    height: 22px;
    text-align: left;
    font: normal normal 600 16px/22px Open Sans;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
}
.contact:hover {
    cursor: pointer;
    text-decoration: underline;
}
.sub-block-right-right {
    margin-left: 80px;
    display: flex;
    align-items: center;
}
.block-right {
    display: flex;
    
}
.text {
    margin: 162px auto 403px 485px ;
    width: 737px;
    height: 183px;
    text-align: left;
    font: normal normal 800 72px/85px Open Sans;
    letter-spacing: 0.72px;
    color: #333333;
    opacity: 1;
}
.color-text {
    margin-top: -500px;
    margin-left: 578px;
    text-align: left;
    font: normal normal 800 72px/85px Open Sans;
    letter-spacing: 0.72px;
    color: #FF9C41;
    opacity: 1;
    
}
.subtext {
    width: 439px;
    height: 70px; 
    margin: 50px 0 0 485px;
    text-align: left;
    font: normal normal 600 16px/24px Open Sans;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;

}
.links {
    margin: -35px 0 0 215px;
    display: flex;
    width: 101px;
    justify-content: space-between;

}
.link-facebook {
    background: transparent url('./desktop/header/facebook-logo.png');
    height: 15px;
    width: 8px;
}
.link-facebook:hover {
    cursor: pointer;
    background: transparent url('./desktop/header/facebook-logo_hover.png');
    opacity: 1;
}
.link-twitter {
    height: 15px;
    width: 18px;
    background: transparent url('./desktop/header/twitter-logo-silhouette.png');
    opacity: 1;
}
.link-twitter:hover {
    cursor: pointer;
    background: transparent url('./desktop/header/twitter-logo-silhouette_hover.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.link-instagram {
    height: 15px;
    width: 15px;
    background: transparent url('./desktop/header/instagram_black.png');
}
.link-instagram:hover {
    cursor: pointer;
    background: transparent url('./desktop/header/instagram_hover.png');
}
.explore {
    margin: 121px 0 0 485px;
    /* opacity: 1; */
    width: 230px;
    height: 55px;
    background-color: #FF9C41;
    border: transparent;
    border-radius: 37px;
    color: #FFFFFF;
    font: normal normal bold 16px/24px Open Sans;

}
.explore:hover {
    cursor: pointer;
    background-color:#333333;
}
.first-section {
    background: transparent url('./img/image\ 2.png');
    height: 800px;
    width: 100%;
}
.container-second {
    width: 992px;
    max-width: 100%;
    margin: auto auto auto 215px;
    
}
.service {
    display: flex;
    padding-top: 159px;
    width: 462px;
    height: 96px;
    text-align: left;
    font: normal normal 800 70px/40px Open Sans;
    letter-spacing: 0.7px;
    color: #FFFFFF;
    opacity: 1;
}
.services {
    display: flex;
    justify-content: space-between;
    margin: 140px 0 0 0;
   /*  padding: 0 40px 0 0; */
}
.text-architect {
    height: 86px;
    width: 237px;
    text-align: left;
    font: normal normal 800 34px/40px Open Sans;
    letter-spacing: 0.34px;
    color: #FFFFFF;
    opacity: 1;
   
}
.architect-description {
    height: 112px;
    width: 238px;
    padding-top: 26px;
    text-align: left;
    font: normal normal normal 16px/24px Open Sans;
    letter-spacing: 0.16px;
    color: #FFFFFF;
    opacity: 1;
}
.text-expediting {
    height: 86px;
    width: 189px;
    text-align: left;
    font: normal normal 800 34px/40px Open Sans;
    letter-spacing: 0.34px;
    color: #FFFFFF;
    opacity: 1;
}
.expediting-description {
    height: 123px;
    width: 238px;
    padding-top: 26px;
    text-align: left;
    font: normal normal normal 16px/24px Open Sans;
    letter-spacing: 0.16px;
    color: #FFFFFF;
    opacity: 1;
}
.text-consulting {
    height: 86px;
    width: 197px;
    text-align: left;
    font: normal normal 800 34px/40px Open Sans;
    letter-spacing: 0.34px;
    color: #FFFFFF;
    opacity: 1;
    
}
.consulting-description {
    height: 166px;
    width: 237px;
    padding-top: 26px;
    text-align: left;
    font: normal normal normal 16px/24px Open Sans;
    letter-spacing: 0.16px;
    color: #FFFFFF;
    opacity: 1;
}
.button-learn {
    display: flex;
    justify-content: space-between;
    padding: 79px 119px 0 0;
}
.learn {
    background: transparent;
    text-align: left;
    text-decoration: underline;
    font: normal normal bold 20px/24px Open Sans;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    opacity: 1;
    border: transparent;
}
.learn:hover {
    cursor: pointer;
    text-align: left;
    text-decoration: underline;
    font: normal normal bold 20px/24px Open Sans;
    letter-spacing: 0.2px;
    color: #FF9C41;
    opacity: 1;
}